body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
}

form {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px black dashed;
    border-radius: 5px;
    padding: 2%;
}

div {
    margin-bottom: 2%;
}

button {
    background-color: green;
    color: white;
    padding: 2%;
    border: 1px solid white;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    border: 1px solid green;
}